html, body {
    /* any div up to fullscreen-cont must have this
    in this case html and body */
    height:100%;
    min-height:100%;
    margin:0;
    font:13px/15px Helvetica, Arial, Verdana, sans-serif;
	color:#628296;

}
.fullscreen-cont {
    display:block;position:relative;
    min-width:100%;
    min-height:100%;
}




